@using Aurora.SMS.Web.Models.SmsGateway;
@model IEnumerable<SmsGatewayProxyViewModel>

<h2>Manage Sms Gateways</h2>
<p>Here you can configure your preferable Sms gateway</p>
<hr />


<div class="col-md-3">
    <h4 class="well well-sm">Available Gateways</h4>
    <ul class="nav nav-pills nav-stacked  table-bordered center-block">
        @foreach (var smsGateWay in Model)
        {
            <li class="@smsGateWay.NavPillActiveClassValue">
                <a href="#@smsGateWay.Name" data-toggle="tab" aria-expanded="@smsGateWay.IsDefault.ToString()">
                    @smsGateWay.Name
                @if (@smsGateWay.IsDefault)
                {
                    <span class="label label-default small">Default</span>
                }
            </a>
        </li>
        }
    </ul>
</div>

<div id="myTabContent" class="tab-content col-md-9">
    <h4 class="well well-sm">Details</h4>
    @foreach (var smsGateWayProxy in Model)
    {
        <div class="tab-pane fade @smsGateWayProxy.TabPageActiveClassValue" id="@smsGateWayProxy.Name">
            <div class="panel panel-default">
                <div class="panel-heading">@smsGateWayProxy.Name</div>

                @using (Html.BeginForm())
                {
                    <div class="form-horizontal">
                        <fieldset class="panel-body">
                            <img alt="@smsGateWayProxy.LogoUrl" src="@smsGateWayProxy.LogoUrl" />
                            <div class="form-group">
                                <label class="col-md-2 control-label form-inline">User Name</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(p => smsGateWayProxy.UserName, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label form-inline">Password</label>
                                <div class="col-md-4">
                                    @Html.PasswordFor(p => smsGateWayProxy.Pasword, new { @class = "form-control" })
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="panel-footer clearfix">
                        <input type="hidden" name="Index" value="@smsGateWayProxy.Name" />
                        <!--Onlly HTML 5 http://www.binaryintellect.net/articles/c69d78a3-21d7-416b-9d10-6b812a862778.aspx-->
                        @if (smsGateWayProxy.IsDefault)
                        {
                            <input type="submit" disabled="disabled" value="Set Default" formaction="SetDefault" formmethod="post" class="btn  btn-sm btn-default disabled" />
                        }
                        else
                        {
                            <input type="submit" value="Set Default" formaction="SetDefault" formmethod="post" class="btn  btn-sm btn-default" />
                        }
                        <input type="submit" value="Test" formaction="Test" formmethod="post" class="btn btn-sm btn-success" />
                        <input type="submit" value="Save" formaction="Save" formmethod="post" class="btn  btn-sm btn-primary btn-sm pull-right" />
                    </div>
                }
            </div>
        </div>
    }
</div>

