
@model IEnumerable<Aurora.Insurance.Services.DTO.ContractDTO>


<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>#</th>
            <th>ContractNumber</th>
            <th>ReceiptNumber</th>
            <th>IssueDate</th>
            <th>StartDate</th>
            <th>ExpireDate</th>
            <th>GrossAmount</th>
            <th>NetAmount</th>
            <th>PlateNumber</th>
            <th>IsCanceled</th>
            <th>CanceledDate</th>
            <th>PersonId</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>FatherName</th>
            <th>DrivingLicenceNum</th>
            <th>Address</th>
            <th>ZipCode</th>
            <th>CompanyDescription</th>
            <th>MobileNumber</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var contract in Model)
        {
            <tr>
                <td>
                    @contract.Contractid
                </td>
                <td>
                    @contract.ContractNumber
                </td>

                <td>
                    @contract.ReceiptNumber
                </td>
                <td>
                    @contract.IssueDate
                </td>
                <td>
                    @contract.StartDate
                </td>
                <td>
                    @contract.ExpireDate
                </td>
                <td>
                    @contract.GrossAmount
                </td>
                <td>
                    @contract.NetAmount
                </td>
                <td>
                    @contract.PlateNumber
                </td>
                <td>
                    @contract.IsCanceled
                </td>
                <td>
                    @contract.CanceledDate
                </td>
                <td>
                    @contract.PersonId
                </td>
                <td>
                    @contract.FirstName
                </td>
                <td>
                    @contract.LastName
                </td>
                <td>
                    @contract.FatherName
                </td>
                <td>
                    @contract.DrivingLicenceNum
                </td>
                <td>
                    @contract.Address
                </td>
                <td>
                    @contract.ZipCode
                </td>
                <td>
                    @contract.CompanyDescription
                </td>
                <td>
                    @contract.MobileNumber
                </td>
            </tr>
        }
    </tbody>
</table>
